body{
    background-image: url(images/coffea_arabica_005.jpg);
    background-position: center;
    background-size: cover;
}

section{
    background: burlywood;
    width:80%;
    padding:0.626rem;
    margin:0 auto;
    border-radius:6px;
}

header{
    text-align: center;
}

h1{
    font-weight:bold;
    font-size:2.1875rem;
}

hr{
    border: 1px red solid;
    width:28.125rem;
}

h2{
    font-weight: bolder;
    text-align: center;
    position:relative;
    left:0.625rem;
}

.foods{
    display:flex;
    justify-content: space-between;
    color:black;
    font-weight:800;
}

li{
    list-style:none;
    text-align: center;
}

a{
    color:black;
}

footer{
    text-align: center;
}

@media(max-width:30rem){
    hr{
        width:2rem;
    }
}

@media(max-width:48rem){
    hr{
        width:3rem;
    }
}